* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0 auto;
    max-width: 1440px;
    max-height: 3735px;
    background-color: #E5E5E5;
}

.style-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    position: relative;
    background: rgba(242, 120, 92, 0.7);
    box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
    padding: 0 120px;
    margin-bottom: -90px;
}

.title-header {
    display: flex;
    gap: 6px;
}

.title-logo {
    font-family: 'Magra';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
    white-space: nowrap;
}

.vector-logo {
    width: 30px;
    height: 30px;
}

.link-header {
    text-decoration: none;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    height: 21px;
}

.marg {
    padding-right: 42px;
}

.nav-header {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}

.button {
    width: 103px;
    height: 41px;
    background: #0D606F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}

h1 {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 96px;
    color: #FFFFFF;
}


h2 {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 53px;
    color: #F2785C;
    text-transform: uppercase;
}

.stories {
    max-width: 1440px;
    height: 1270px;
    background: rgba(255, 255, 255, 0.7);
    background-image: url(img/Rectangle\ 28.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.style-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 120px;
    height: 61px;
    max-width: 1440px;
}

.text-footer {

    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}

.link-footer {
    list-style: none;
    display: flex;
    justify-content: end;
    align-content: flex-start;
    position: absolute;
    right: 251px;
    margin: 0;
    padding: 0;
    gap: 20px;
}

.logo-footer {
    width: 30px;
    height: 30px;
}

.preview {
    background-image: url(img/footer.jpg);
    height: 765px;
    padding: 122px 120px 120px 120px;
}

.preview-title {
    margin: 0;
}

.main {
    margin-bottom: -61px;
}