* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
}

nav {
    padding-right: 22px;
}


.body-wrapper {
    width: 1440px;
    margin: 0 auto;
    position: relative;
}

.style-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    position: relative;
    background: rgba(242, 120, 92, 0.7);
    box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
    padding: 0 120px;
    margin-bottom: -90px;
}

.title-header {
    display: flex;
    gap: 6px;
}

.title-logo {
    font-family: 'Magra';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
    white-space: nowrap;
}

.vector-logo {
    width: 30px;
    height: 30px;
}

.link-header {
    text-decoration: none;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    height: 21px;
}

.link-header:hover {
    color: #0D606F;
    transition: 1s;
}

.nav-header {
    margin: 0;
    padding: 0 5px 0 0;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    gap: 42px;
}

.first-link {
    width: 98px;
}

.second-link {
    width: 105px;
}

.third-link {
    width: 95px;
}

.last-link {
    width: 103px;
}

.button {
    width: 103px;
    height: 41px;
    background: #0D606F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}

.button:hover {
    box-shadow: 4px 4px 4px rgba(255, 255, 255, 0.5), 4px 4px 4px rgba(103, 188, 203, 0.5);
    transition: 0.5s;
    cursor: pointer;
}

.button:active {
    background: #93cbd5;
    transition: 0.5s;
}

h2 {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 53px;
    color: #F2785C;
    text-transform: uppercase;
    margin: 0 0;
}

.stories {
    max-width: 1440px;
    background-image: url(img/Rectangle33.jpg);
    background-position-y: 93px;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 0 0 61px 0;
}

.stories-content {
    display: flex;
    flex-direction: column;
    padding: 0 120px;
    margin: 0 auto;
    gap: 30px;
}

.stories-wrapper {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 0 0 41px 0;
}

.stories-item {
    height: 250px;
    display: flex;
    gap: 40px;
}

.item-1 {
    margin-top: 40px;
}

.stories-item-text {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.foto-stories {
    width: 400px;
    height: 250px;
    background: url(robin-noguier-sydwCr54rf0-unsplash.jpg);
    filter: drop-shadow(0px 4px 4px #0D606F);
    border-radius: 16px;
}

.stories-item-title {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
    color: #0D606F;
}

.stories-item-text-block {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #0D606F;
}

.travel-text {
    margin: 0 auto 40px auto;
    width: fit-content;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 53px;
    color: #F2785C;
}

.button-4 {
    width: 228px;
    height: 59px;
    background: #0D606F;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 40px auto auto auto;
    padding: 0;
}

.button-4:hover {
    box-shadow: 4px 4px 4px rgba(236, 102, 30, 0.5), 4px 4px 4px rgba(236, 102, 30, 0.5);
    transition: 0.5s;
}

.button-4:active {
    background: #93cbd5;
    transition: 0.5s;
}

.link-next {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #0D606F;
    margin-top: -24px;
}

.link-next:hover {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #0D606F;
    margin-top: -24px;
    box-shadow: 0 4px 4px rgba(236, 102, 30, 0.5), 0 4px 4px rgba(236, 102, 30, 0.5);
    transition: 0.5s;
}

.preview {
    background-image: url(img/footer.jpg);
    height: 765px;
    padding: 122px 0 0 120px;
}

.preview-title {
    margin: 0;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 96px;
    color: #FFFFFF;
    margin-bottom: 32px;
}

.text-preview {
    font-family: 'Aleo';
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 45px;
}

.text-action {
    font-family: 'Aleo';
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #F2785C;
    width: 892px;
    height: 95px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 16px;
    padding: 35px 291px 38px 41px;
    border-width: 0;
}

.button-2 {
    width: 228px;
    height: 59px;
    background: #0D606F;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    position: absolute;
    right: 18px;
    top: 18px;
}

.button-2:hover {
    box-shadow: 4px 4px 4px rgba(236, 102, 30, 0.5), 4px 4px 4px rgba(236, 102, 30, 0.5);
    transition: 0.5s;
}

.button-2:active {
    background: #93cbd5;
    transition: 0.5s;
}

.form {
    position: relative;
}

.main-1 {
    width: 892px;
    height: 422px;
}

.text-action::-webkit-input-placeholder {
    font-weight: lighter;
    color: #F2785C;
}

.steps {
    height: 424px;
    padding: 80px 132px 97px 131px;
}

.steps-text {
    margin: 0 auto;
    margin-bottom: 40px;
    width: fit-content;
}

.step-2 {
    padding-left: 66px;
}

.main-2 {
    display: flex;
    justify-content: space-between;
}

.svg-steps {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.svg-text {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #0D606F;
    margin: 0;
}

.step {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.destinations-text {
    margin: 0 auto 46px auto;
    width: fit-content;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 53px;
    color: #F2785C;
}

.courusel-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 60px;
}

.foto-courusel {
    width: 800px;
    height: 800px;
    border-radius: 16px;
}

.courusel-item {
    position: relative;
}

.courusel-item-title {
    font-family: 'Red Hat Text';
    text-transform: uppercase;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    color: #FFFFFF;
    position: absolute;
    left: 15px;
    bottom: 43px;
}

.courusel {
    overflow: hidden;
}

.dot {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: rgba(242, 120, 92, 0.5);
}

.dot.dot-active {
    background: #F2785C;
}

.dots {
    display: flex;
    justify-content: center;
    margin: 21px 0 40px 0;
    gap: 10px;
}

.button-3 {
    width: 228px;
    height: 59px;
    background: #0D606F;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 0 auto 80px auto;
    padding: 0;
}

.button-3:hover {
    box-shadow: 4px 4px 4px rgba(236, 102, 30, 0.5), 4px 4px 4px rgba(236, 102, 30, 0.5);
    transition: 0.5s;
}

.button-3:active {
    background: #93cbd5;
    transition: 0.5s;
}

.style-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 120px;
    height: 61px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.text-footer {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}

.link-footer {
    list-style: none;
    display: flex;
    justify-content: end;
    align-content: flex-start;
    position: absolute;
    right: 121px;
    margin: 0;
    padding: 0;
    gap: 20px;
}

.logo-footer {
    width: 33.65px;
    height: 33.65px;
}

.logo-footer:hover {
    transform: rotate(360deg);
    transition: 1.5s;
}